[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
efficientnet = "*"
fastapi = "*"
gensim = "*"
jinja2 = "*"
nltk = "*"
pillow = "*"
python-levenshtein = "*"
python-multipart = "*"
spacy = "*"
sqlalchemy = "*"
tensorflow = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
